<%= form_tag(output_url, :remote => true) do |form| %>
  <%= text_area_tag( 'input', '', :class => 'materialize-textarea')%>
  <div class="center-align"><%= submit_tag("Send jobs structure", :class => 'btn submit') %></div>
<% end  %>