<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Jobsboard</a>
     
    </div>
  </nav>

<h1 class="center"> Jobs Structure Testing Tool</h1>



<div class="container indigo lighten-4">
  <div class="row " style=" margin: 0 auto;">
    <div class="col s6 "><div class="header red">Input</div><%= render 'form' %></div>
    <div class="col s6 "><div class="header indigo">Output</div>
    <%= render 'output' %>
  </div>
  

  </div>

</div>